In [58]:
import requests
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json
publisherid=10000027998

This query is the framework to get the Review data and the key to search for demographics below

In [59]:
review_df=pd.DataFrame(columns=["Name","BizID","City","State","Zip","ReviewID","Rating"])
review_df

Empty DataFrame
Columns: [Name, BizID, City, State, Zip, ReviewID, Rating]
Index: []

In [60]:
# query_url = f"{url}appid={weather_api_key}&units={units}&q="
query_url ="https://api.citygridmedia.com/content/reviews/v2/search/where?what=barbeque&where=new york,NY&publisher=10000027998&format=json&rpp=50"
cities={"Austin, TX","Memphis, TN","Kansas City, MO", "Charlotte, NC","New York, NY"}

response = requests.get(query_url).json()
Index=0

# for city in cities:
#     city=cities
    
review_df.loc[Index,"Name"] = response['results']['reviews'][0]['business_name']
review_df.loc[Index,"ReviewID"] =response['results']['reviews'][0]['review_id']
review_df.loc[Index,"Rating"] = response['results']['reviews'][0]['review_rating']
review_df.loc[Index,"BizID"] = response['results']['reviews'][0]['listing_id']

In [61]:
review_df

                      Name      BizID City State  Zip         ReviewID Rating
0  Atomic Wings at The GAF  775898270  NaN   NaN  NaN  grub_-508502831      8

In [62]:
# Uncomment to see a clean print of the json in the reviews response above
# print(json.dumps(response, indent=4, sort_keys=True))

This query is the framework to pass the business listing id from the review data to the places detail API to get the city, state, and zip

In [63]:
places_url = f'http://api.citygridmedia.com/content/places/v2/detail?id={ListingID}&id_type=cs&client_ip=123.4.56.78&publisher={publisherid}&format=json'

places_response = requests.get(places_url).json()

review_df.loc[Index,"City"] = places_response['locations'][0]['address']['city']
review_df.loc[Index,"State"]=places_response['locations'][0]['address']['state']
review_df.loc[Index,"Zip"]=places_response['locations'][0]['address']['postal_code']

print(f'business name: {BizName}  biz ID: {ListingID} \nCity: {BizCity}  State: {BizSt}  Zip: {BizZip}\nReviewID: {ReviewID}  Rating: {ReviewRating}'    )
review_df

business name: Atomic Wings at The GAF  biz ID: 775898270
City: New York  State: NY  Zip: 10128
ReviewID: grub_-508502831  Rating: 8

,Name,BizID,City,State,Zip,ReviewID,Rating
0,Atomic Wings at The GAF,775898270,New York,NY,10128,grub_-508502831,8

In [64]:
# Uncomment to see a clean print of the json in the places detail response above
# print(json.dumps(places_response, indent=4, sort_keys=True))

We need to:
    1. Set up a dataframe blank table
    2. set up for loops for each API call and itterate through to capture our data

In [ ]:
# checking out offers API